/ylml/Shopping_online_classifiction/LSTM.pth
/ylml/Shopping_online_classifiction/BiLSTM.pth
/ylml/Shopping_online_classifiction/skip.model
/ylml/Shopping_online_classifiction/skip.model.syn1neg.npy
/ylml/Shopping_online_classifiction/skip.model.wv.vectors.npy
/ylml/Shopping_online_classifiction/网购评论的对象分类(综合).ipynb
